/* Body styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9af0f0; /* Background color */
    font-family: Arial, sans-serif;
}

/* Success Section */
.success-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Dark Circle */
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
    border-radius: 300px;
    background-color: #333; /* Dark background color (adjust to match your color scheme) */
    color: #fff; /* Text color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Success Text */
.circle h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}
